PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=nAafzw4epFJpA8sVPFq9QWO0Sl0pf4vq
DRIVE_DISK=local
SPOTIFY_CLIENT_ID=clientId
SPOTIFY_CLIENT_SECRET=clientSecret
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
SESSION_DRIVER=cookie
